:root {
  --background: #0d1117;
  --panel-background: #0d1117;
  --tab-background: #0d1117;
  --tab-background-active: #171e27;
  --tab-background-hover: #151b23;
  --border: #444c58;
  --muted: #94a3b8;
  --text: #eeeeee;
  --accent: #3193d4;
  --card_rows: 3;
  --card_cols: 6;
  /* --card_size: calc((100vh - 150px) / var(--card_rows) - 1rem); */
  --card_size: 170px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "JetBrains Mono", monospace;
}
body {
  background: var(--background);
  height: 100vh;
  font-size: 0.9rem;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  color: var(--text);
}
body::-webkit-scrollbar {
  display: none;
}
.container {
  padding: 0;
  width: 100%;
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer {
  padding: 0.5rem;
  color: var(--muted);
  font-size: 0.75rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}
.app {
  display: flex;
  gap: 20px;
  width: fit-content;
  margin: 0 auto;
  padding: 12px;
  height: fit-content;
}
.sidebar {
  width: fit-content;
  background: var(--panel-background);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  height: 100%;
  min-width: 160px;
}
.main {
  flex: 1;
  background: var(--panel-background);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: fit-content;
  min-height: 0;
  height: 100%;
  border: 1px solid var(--border);
}
.grid {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  /* align-items: flex-start; */
  min-height: 0;
  overflow: hidden;
  width: fit-content;
  grid-template-columns: repeat(auto-fit, minmax(var(--card_size), var(--card_size)));
  grid-template-rows: repeat(auto-fit, minmax(var(--card_size), var(--card_size)));

  min-width: calc(6 * var(--card_size) /* 6 columns */ + 5 * 1rem /* 5 gaps between them */ + 2 * 1rem /* padding-left + padding-right */);
  min-height: calc(3 * var(--card_size) /* 3 rows */ + 2 * 1rem /* padding-top + padding-bottom */ + 2 * 1rem /* pagination controls */);
}
.slot {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.01));
  padding: 12px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.02);
  min-height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.trophy-slot-inner-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.trophy-slot-img {
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}

.trophy-slot-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 2;
  pointer-events: none;
}

.trophy-slot-text {
  color: whitesmoke;
  text-align: center;
  font-size: 0.75rem;
  margin-top: 0.25rem;
  padding: 2px 4px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}
.trophy-slot-matched-number {
  position: absolute;
  bottom: 0.5rem;
  left: calc(100% - 0.5rem);
  transform: translateX(-100%);
  margin: 0;
  height: 1rem;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}

.label {
  font-weight: 700;
}
.progress-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 8px;
  width: 100%;
  padding-left: 12px;
}
.bar {
  flex: 1;
  height: 12px;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 8px;
  overflow: hidden;
}
.bar > i {
  display: block;
  height: 100%;
  background: var(--accent);
  width: 0%;
  transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
#progress-text {
  font-size: 12px;
  color: var(--muted);
  width: max-content;
  white-space: nowrap;
}
.small {
  font-size: 12px;
  color: var(--muted);
}
a {
  color: var(--text);
  text-decoration: none;
}
a:hover {
  color: var(--accent);
}
input.hidden {
  display: none;
}
.trophy-slot {
  display: inline-block;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  text-align: center;
  vertical-align: top;
  box-sizing: border-box;
  transition: 0.3s;
  width: var(--card_size);
  height: var(--card_size);
  cursor: pointer;
}
.trophy-slot.owned-true {
  border: 3px solid var(--color);
  box-shadow: 0 0 3px 1px var(--color);
}
.trophy-slot.owned-false {
  border: 3px solid rgba(255, 255, 255, 0.3);
}
.trophy-slot.owned-true > div > img {
  background: transparent;
  filter: none;
}
.trophy-slot.owned-false > div > img {
  filter: grayscale(60%) brightness(0.5);
}
.trophy-slot:hover {
  transform: scale(1.03);
}
.trophy-slot {
  position: relative;
}
.trophy-slot-img {
  width: 100%;
  height: auto;
  transition: opacity 0.25s ease-in-out;
}
.top-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  justify-content: space-between;
}
.pagination-controls {
  display: flex;
  align-items: center;
  gap: 8px;
  width: max-content;
  min-width: fit-content;
  min-height: fit-content;
  user-select: none;
}
.pagination-controls button {
  background: var(--tab-background);
  border: 1px solid var(--border);
  padding: 0.35rem 0.65rem;
  border-radius: 0.5rem;
  color: var(--text);
  cursor: pointer;
  transition: 0.3s;
  user-select: none;
}
.pagination-controls button:hover {
  background: var(--tab-background-hover);
  border-color: var(--accent);
}
.pagination-controls button:disabled {
  background: rgba(255, 255, 255, 0.01);
  border-color: rgba(255, 255, 255, 0.02);
  color: rgba(255, 255, 255, 0.3);
  cursor: not-allowed;
}
.pagination-controls span {
  font-size: 0.75rem;
  color: var(--muted);
  width: max-content;
  user-select: none;
}
.modal {
  display: flex;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  will-change: contents;
}
.modal.active {
  opacity: 1;
  pointer-events: auto;
}
.modal.active .modal-content {
  transform: scale(1);
  opacity: 1;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.modal-grid {
  display: grid;
  gap: 1rem;
  align-items: flex-start;
  min-height: 0;
  overflow: hidden;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(var(--card_size), var(--card_size)));
  grid-template-rows: repeat(auto-fit, minmax(var(--card_size), var(--card_size)));

  min-width: calc(6 * var(--card_size) /* 6 columns */ + 5 * 1rem /* 5 gaps between them */ + 2 * 1rem /* padding-left + padding-right */);
  min-height: calc(3 * var(--card_size) /* 3 rows */ + 2 * 1rem /* padding-top + padding-bottom */ + 2 * 1rem /* pagination controls */);
}
.modal-content {
  background: var(--panel-background);
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: fit-content;
  max-width: 1200px;
  max-height: fit-content;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
  transform: translateY(200%);
  will-change: contents;
}
.modal-card {
  display: inline-block;
  width: 180px;
  height: 180px;
  border-radius: 8px;
  text-align: center;
  vertical-align: top;
  box-sizing: border-box;
  transition: 0.3s;
  border: 3px solid var(--color);
}

.controls {
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
  align-items: center;
  flex: 1;
  margin-bottom: 1px;
  position: relative;
}
.search-bar {
  width: 182px;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 8px 8px 0 0;
  border: none;
  background: var(--panel-background);
  color: var(--text);
}
.search-bar::placeholder {
  color: var(--muted);
}
.search-bar:focus {
  outline: 2px solid var(--accent);
  z-index: 20;
}
.search-bar:hover::placeholder {
  color: var(--text);
}
.search-options-btn {
  position: absolute;
  right: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0 0 8px 8px;
  border: none;
  color: var(--text);
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}
.search-options-btn:hover {
  color: var(--accent);
}
.modal.active .search-options-modal-wrapper {
  transform: scale(1);
}
.search-options-modal-wrapper {
  background: var(--panel-background);
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  transform: translateY(200%);
  transition: transform 0.3s ease;
}
.search-options-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.search-options-modal-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.search-options-filters,
.search-options-sorting {
  flex: 1;
  background: var(--panel-background);
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.search-options-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}
.clear-search-options-btn,
.apply-search-options-btn {
  background: var(--tab-background);
  border: 1px solid var(--border);
  padding: 0.35rem 0.65rem;
  border-radius: 0.5rem;
  color: var(--text);
  cursor: pointer;
  transition: 0.3s;
  user-select: none;
}
.clear-search-options-btn:hover,
.apply-search-options-btn:hover {
  background: var(--tab-background-hover);
}
.clear-search-options-btn:hover {
  border-color: red;
}
.apply-search-options-btn:hover {
  border-color: var(--accent);
}
.category {
  position: relative;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: var(--tab-background);
  outline: 1px solid var(--border);
}
.category:hover {
  background: var(--tab-background-hover);
}
.sub-dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
}

.sub {
  position: absolute;
  top: 0;
  left: 100%;
  /* background: var(--panel-background); */
  opacity: 0;
  transform: translateX(-10px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 10;
  min-width: 200px;
}

.category:hover .sub {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}
.menu {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}
.tab {
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
  will-change: transform;
  background: var(--tab-background);
  outline: 1px solid var(--border);
  position: relative;
}
.tab:first-child {
  border-radius: 0 0.5rem 0 0;
}
.tab:last-child {
  border-radius: 0 0 0.5rem 0;
}
.tab:hover {
  background: var(--tab-background-hover);
}
.tab.active {
  background: var(--tab-background-active);
}
.tab.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
/* #share-link-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2000;
} */
#share-link-box {
  background: var(--panel-background);
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}
.modal.active #share-link-box {
  transform: scale(1);
}
#share-link-text {
  font-size: 1.2rem;
  color: var(--accent);
}
#share-link-input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid var(--border);
  background: var(--tab-background);
  color: inherit;
  font-size: 1rem;
}
#share-link-input:focus {
  outline: 2px solid var(--accent);
}
#copy-share-link-btn,
#close-share-link-btn {
  background: var(--tab-background);
  border: 1px solid var(--border);
  padding: 8px 16px;
  border-radius: 8px;
  color: inherit;
  cursor: pointer;
  transition: 0.3s;
  user-select: none;
  font-size: 1rem;
  font-weight: 600;
}
#copy-share-link-btn:hover,
#close-share-link-btn:hover {
  background: var(--tab-background-hover);
}
#interaction-lock {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 10000;
  overflow: hidden;
}
.sort-state-button {
  background: var(--tab-background);
  border: 1px solid var(--border);
  padding: 0.35rem 0.65rem;
  border-radius: 0.5rem;
  color: var(--text);
  cursor: pointer;
  transition: 0.3s;
  user-select: none;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.5rem;
}
.sort-state-button:hover {
  background: var(--tab-background-hover);
}
.sort-state-button[data-state="0"]::after {
  content: "⇅";
  /* font-size: 0.75rem; */
  margin-left: 6px;
}
.sort-state-button[data-state="1"]::after {
  content: "↑";
  /* font-size: 0.75rem; */
  margin-left: 6px;
}
.sort-state-button[data-state="2"]::after {
  content: "↓";
  /* font-size: 0.75rem; */
  margin-left: 6px;
}
